node_modules/
./client/node_modules/
./posts-service/node_modules/
./users-service/node_modules/
# Keep environment variables out of version control
./client/.env
./posts-service/.env
./users-service/.env